.location-card {
    margin: 7px;
    background-color: #f0ebeb;
    /* border: rgb(234, 228, 228) solid; */
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(231, 225, 225, 0.1);
    overflow: hidden; /* Ensures the image stays within rounded corners */
    width: clamp(100px, 30vw, 200px);
    height: 30vh;
    @media (max-width: 500px){
        border-radius: 10px;
        max-height: 200px;
      
    } 
}

.location-image {
    width: 100%;
    height: 15vh; /* Adjust height as needed */
    object-fit: cover; /* Ensures the image covers the entire area */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
}

.location-details {
    text-align: center;
    /* padding: 20px; */
}

.location-details h2 {
    color: #333333;
    font-size: 1.2em;
    margin-bottom: 10px;
    @media (max-width: 500px){
        font-size: 1.1em;
    }
}

.location-details p {
    color: #666666;
    font-size: .8rem;
    line-height: 1.5;
    @media (max-width: 500px){
        visibility: hidden;
    }
}
