
.toDoContainer {
    margin-top:20px;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    /* background-color: red; */
}

.toDoContainer .header  {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    /* background-color: #f8f9fa; */
    border-bottom: 1px solid #dee2e6;
}

.left, .right {
    font-size: 1rem;
    font-weight: bold;
    /* width: 15vw; */
    /* background-color: red; */
}

.main {
    padding: 20px;
    text-align: center;
    
}

.main .places {
    display: flex;
    justify-content:space-around;
    gap: 5%;
    align-items: center;
   
   
}
.places .startPlace, .places .endPlace {
    font-size: 1rem;
    font-weight: bold;
    width: 15vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
.places .arrowImg{
    width: 50%;
    height: 30px;
    /* height: 30px; */
    object-fit: contain;
    object-position: center;
    background: url('../../../public/icons/long-arrow.png');
    
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
@media (prefers-color-scheme: dark) {
    .places .arrowImg {
        /* background-color: red; */
    }
}

.toDoList {
    position: relative;
    padding: 20px;
    margin-top: 20px;
    /* margin: auto; */
    /* background-color: #405e7d; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.toDoList .destination input{
    position: absolute;
    top: 1px;
    right: 1px;
    /* background-color: red; */
    width: 40%;
    min-width: fit-content;
    max-width: 70vw;
   margin: 2px;
 
}

.toDoList input{
    height: 30px;
}

.toDoList h2 {
    margin: 10px;
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    gap: 5%;
}

.input-container input[type="text"] {
    flex-grow: 1; 
    flex-basis: 60px; 
      min-width: 60px;
    }

.input-container button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
    border: none;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    flex-wrap: wrap;
}
.todo-item .check{
    display: flex;
    gap: 10px;
}
.todo-item span {
    flex: 1;
    margin-right: 10px;
    margin: auto;
}

.todo-item button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: red;
    border: none;
    border-radius: 5px;
    height: fit-content;
    margin: auto;
}
.main textarea {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    resize: vertical; 
    box-sizing: border-box; 
   
}
  @media (max-width: 800px){
    .places .arrowImg{
        width: 20%;
    }
    .places .startPlace, .places .endPlace{
        width: 40%;
    }
  }
  @media  (max-width: 500px) {
    .todo-item :nth-child(3) {
        flex-basis: 100%; /* Make the 3rd child take full width */
        order: 1; /* Move the 3rd child to the second row */
        margin-top: 10px; /* Optional: add some spacing */
        border: solid 1px black;
    }

    .todo-item :nth-child(4) {
        order: 0; /* Ensure the 4th child stays on the first row */
        
    }
}