.feature-section {
  padding: 20px 20px;
 
  background:linear-gradient(180deg,#4094AE 0%, #4094ae85 100%)
 
 }

.feature-heading {
  text-align: center;
  font-size:clamp(2rem, 4vw, 2.5rem);
  margin-bottom: 40px;
  color: white;
}

.feature-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
  margin-left: -20px;
  width: 100vw;
 
  /* scroll-behavior: smooth; */
  /* white-space: nowrap; */
}

.feature-card {
  flex: 0 0 auto;
  margin-right: 20px;
}

/* Hide scrollbar on all browsers */
.feature-scroll::-webkit-scrollbar {
  display: none;
}
.feature-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
