.about-section {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden; 
  }
  
  .about-section h1,
  .about-section h2 {
    color: #ffffff;
    text-align: center;
  }
  .about-section h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .about-section img{
    border-radius: 15px;
    width: 100%;
  }
  .about-section p,
  .about-section ul
  {
    color: #f7f3f3;
    line-height: 1.6;
    text-align: justify;
  }
  
  .about-section ul{
    margin-top: 20px;
    margin-left: 20px;
    list-style-type: disc;
  }
  
  .about-section ul li {
    display: flex;
    gap: 5px;
    text-align: justify;
    margin-bottom: 10px;
    list-style-type: none;
  }
  .about-section .icon {
    color: orange;
    font-size: 1.3rem;
    filter: drop-shadow(4px 4px 1px rgba(255, 140, 0, 0.656));
  }
  
  
  .about-introduction,
  .about-mission-vision,
  .about-team,
  .about-story,
  .about-future-plans,
  .about-contact,
  .about-cta {
    margin-bottom: 40px;
  }
  
  
  .about-introduction ul {
    padding-left: 20px;
    list-style-type: circle;
  }
  
  .about-contact a {
    color:yellow;
    text-decoration: none;
  }
  
  .about-contact a:hover {
    text-decoration: underline;
  }
  
  .about-contact p, .about-cta p {
    text-align: center;
   
  }
  
  .about-cta p {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
  }
  
    @media(min-width:950px){
    .about-introduction, .mission_team_container{
        display: flex;
        gap: 15px;
    }
    
    .about-section img{
        width: 40%;
        object-fit: cover;
       
      }
  }
  