.top-destinations {
  padding: 20px 20px;
  background-color: #f8f9fa;
}

.top-destinations-heading {
  text-align: center;
  font-size:clamp(2rem, 4vw, 2.5rem); 
  margin-bottom: 40px;
  color: #3D98B4;
}

.destination-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  max-width: 1200px;
  margin: 0px auto;
}

.destination-card {
  border-radius: 8px;
  text-align: center;
  perspective: 1000px;
  height: 250px;
  cursor: pointer;
  
}
.destination-card:hover .destination-card-inner {
 background-color:rgba(230, 229, 227, 0.401);
}

.destination-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  max-width: 300px;
  margin: 0 auto;

}
.flipped .destination-card-inner {
  transform: rotateY(180deg);
}
.destination-card-front,
.destination-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.33) , -4px -4px 15px rgba(0, 0, 0, 0.33);
  text-align: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.245);
 margin: o auto;
}

.destination-card-front {
  z-index: 2;
  transform: rotateY(0deg);
  overflow: hidden;
}
.destination-card-front .destination-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.destination-card-front .image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.destination-image {
  
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
  object-position: 0% 0%;
}
.destination-card-front .destination-description{
  position: absolute;
  bottom: 15px;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.944);

}

.destination-card-back {
  transform: rotateY(180deg);
  /* background-color: #3D98B4; */
  color: #040303;
  overflow-y: auto;
  scrollbar-width: 2px; /* For Firefox */
  -ms-overflow-style: none; 
  -webkit-overflow-scrolling: touch;
}
.destination-card-back::-webkit-scrollbar {
  width: 0; 
  background: transparent;
}



.destination-name {
  font-size: 1.5em;
  margin: 1px 0;
 
}

.destination-description {
  font-size: 1em;
  color: #fbfbfbfd;
  font-weight:500 !important;
  
}
