.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:orange; 
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
  }
  
  .back-to-top:hover {
    background-color:rgba(255, 166, 0, 0.923);
  }
  .back-to-top:hover i{
    transform: translateY(-5px);
    
    transition: transform 0.3s ease;
  }
  .back-to-top:focus {
    outline: none;
  }
  