.card {
  position: relative;
  margin: 15px;
  width: 200px;
  /* max-width: 40vw; */
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 4px 4px 5px rgb(0, 0, 0);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  cursor: pointer;
  transform-origin: center center;
  z-index: 1;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.562); /* Subtle shadow on hover */
  background-color: #f9f9f9e0; /* Slight background color change on hover */
}

.card.expanded {
  transform: scale(1.05); /* Slightly increase size when expanded */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 40vh;
  width: 200px;
  /* max-width: 40vw; */
  overflow-y: scroll;
  z-index: 10;
  /* box-sizing: content-box; */
}
.card.expanded::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.card.expanded {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.card.expanded {
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}
.checkbox {
  position: absolute;
  top: 4px;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: scale(1); /* Adjust size of checkbox */
}
.checkbox:checked {
  background-color: #3d98b4;
}
.index {
  position: absolute;
  top: 0;
  left: 10px;
}

.siteLabel {
  font-size: 1.25rem;
  margin-bottom: 10px;
  white-space: nowrap; /* Prevents the text from wrapping to the next line */
  overflow: hidden; /* Hides the overflowing text */
  text-overflow: ellipsis;
  color: black;
}

.typeLabel {
  font-size: 1em;
  color: #555;
  white-space: nowrap; /* Prevents the text from wrapping to the next line */
  overflow: hidden;
  text-overflow: ellipsis;
}
.card.expanded .typeLabel,
.card.expanded .siteLabel {
  white-space: wrap;
  text-overflow: initial;
}
.card .error{
  color: red;
  text-align: start;
}
.card-content {
  display: none;
  margin-top: 10px;
}

.card.expanded .card-content {
  display: block;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-description {
  margin-top: 10px;
  color: #666;
  font-size: 0.9em;
  text-align: justify;
}
.more-details-button {
  position: relative;
  height: 25px;
  bottom: 10px;
  float: right;
  margin-top: 10px;
  padding: 0px 15px;
  background-color: #3d98b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  min-width: fit-content;
  text-wrap: nowrap;
}

.more-details-button:hover {
  background-color: #2a7d92;
}

/* location around a coordinates */

.destination-card2 {
  position: relative;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  max-width: 300px;
  margin: 0 auto;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 250px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.destination-card2 .favorite {
  position: absolute;
  top: 5px;
  right: 2px;
}
.destination-card2::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.destination-card2:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.destination-card2 .destination-title {
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: start;
  font-size: 1.5rem;
}

.destination-card2 .destination-index {
  font-weight: bold;
  color: #ff6347;
  margin-right: 10px;
}

.destination-card2 .card-image {
  object-fit: cover;
  border-radius: 8px;
  object-position: 0% 0%;
  height: 200px;
  border-bottom: 2px solid #eee;
}

.destination-card2 .destination-content {
  padding: 20px;
}

.destination-card2 .typeLabel {
  /* margin-left: 10px; */
  text-align: start;
  font-size: 1em;
  font-weight: 600;
  color: black;
}
.destination-card2 .error{
  color: red;
}
.destination-card2 .card-description {
  font-size: 1em;
  color: #555;
  line-height: 1.4;
  /* font-weight: bolder; */
}
