

.map-container {
  position: absolute;
  width: 100%;
  top: calc(30vh + 370px);
  height: 100vh; /* Full viewport height */
  margin: auto;
}
.map-position {
  position: absolute; /* Position the map within its container */
  top: 0px; /* Adjust vertical position */
  left: 20px; /* Adjust horizontal position */
  width: calc(100% - 40px); /* Adjust width considering left/right margins */
  height: 500px; /* Adjust height here */
  /* Optional: add border */
}
.marker {
  display: flex;
  border-radius: 50%;
  cursor: pointer;
}

.marker-text {
  color: rgb(227, 27, 27);
  font-weight: bold;
  font-size: larger;
}
.marker-image {
  width: 30px;
  height: 30px;
}
.itinerary-button {
  position: absolute;
  top: 510px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(8, 8, 8);
  color: orange;
  border: 1px groove rgb(255, 166, 0);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: transform 0.2s, background-color 0.2s;
  width: clamp(200px, 30vw, 300px);
}

.itinerary-button i {
  margin-right: 8px;
  transition: transform 0.2s;
  transform: rotate(-30deg);
  /* background-color: red; */
  color: rgb(201, 176, 176);
}

.itinerary-button:hover,
.itinerary-button.hovered {
  /* transform: scale(1.1); */
  background-color: rgb(25, 21, 21);
  i {
    transform: rotate(30deg);
  }
  span {
    transform: translateX(5px);
  }
}
