/* body {
    margin: 0;
    padding: 0;
} */

.map-container {
    position: absolute;
    width: 100%;
    top: calc(30vh + 350px);
    height: 100vh; /* Full viewport height */
    margin: auto;
    /* background-color: aqua; */
}

.map-position {
    position: absolute; /* Position the map within its container */
    top: 0px; /* Adjust vertical position */
    left: 20px; /* Adjust horizontal position */
    width: calc(100% - 40px); /* Adjust width considering left/right margins */
    height: 500px; /* Adjust height here */
     /* Optional: add border */
     
}
.marker {
   display: flex;
    border-radius: 50%;
    cursor: pointer;
  }

  .marker-text{
    color: rgb(227, 27, 27);
    font-weight: bold;
    font-size: larger;
  }
  .marker-image{
    width: 30px;
    height: 30px;
  }

