.footer {
    /* background-color: #333; */
    color: #fff;
    padding: 20px 0;
    text-align: center;
  
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-logo h1 {
    margin: 0;
    font-size: 1.8em;
  }
  
  .footer-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    flex-wrap: wrap;
    gap: 10px;
    /* align-items: center; */
    justify-content: center;
  }
  
  .footer-links ul li {
    display: block;
    margin: 0 15px;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    text-wrap: nowrap;
  }
  
  .footer-links ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-social {
    margin: 10px 0;
  }
  
  .footer-social a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .footer-social a:hover {
    color: #ddd;
  }
  
  .footer-info p {
    margin: 10px 0;
  }
  