/* SuccessMessage.css */
.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #f8f9fa00;
    font-family: 'Arial', sans-serif;
  }
  
  .message-box {
    text-align: center;
    padding: 20px;
    background-color: #08070729;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .message-icon {
    font-size: 50px;
    margin-bottom: 10px;
  }
  
  .success-icon {
    color: #28a745;
  }
  
  .failure-icon {
    color: #dc3545;
  }
  
  .message-title {
    font-size: 24px;
    font-weight: bold;
    color: #f4f5f7;
    margin-bottom: 50px;
  }
  
  .message-text {
    font-size: 16px;
    color: #f2f2f2;
    margin-bottom: 20px;
  }
  
  .message-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .message-button:hover {
    background-color: #0056b3;
  }
  