.feature-card {
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
  }
  
  .feature-icon {
    font-size: 2em;
    color: #3d98b4;
    margin-bottom: 10px;
  }
  .feature-card:hover .feature-icon{
    scale: 1.1;
    color: #34788d;
  }
  
  .feature-title {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .feature-description {
    font-size: 1em;
    color: #666;
    
  }
  