/* src/components/Header.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #3d98b4;
  padding: 10px 20px;
  position: relative;
}

header .logo {
  font-size: 1.5rem;
  -webkit-box-reflect: below -40px -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      to(rgba(255, 255, 255, 0.629))
    );
}
/* .logo img{
    filter: drop-shadow(10px 10px 10px rgba(248, 15, 15, 0.741));
    
  } */

header nav {
  display: flex;
  gap: 10px;
}

header nav a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}
nav .link {
  color: white;
  font-weight: bold;
  /* border:2px solid #A40F4A; */
}
nav .link:hover {
  color: black;
  text-align: center;
}

header .menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  header nav {
    display: none;
    flex-direction: column;
    background-color: #33333354;
    position: absolute;
    top: 70px;
    right: 0;
    width: auto;
    font-size: 1.1rem;
    height: 100vh;
    text-align: left;
    z-index: 7;
  }

  header .nav-open {
    display: flex;
    backdrop-filter: blur(10px);
  }

  header .menu-toggle {
    display: block;
  }
  nav .link {
    border-bottom: 0.5px solid rgba(220, 209, 209, 0.437);
    display: flex;
    align-items: center;
  }
}
.burger {
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(142, 137, 137);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 4.5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 21px;
  left: 4.5px;
}
.travelFlag {
  position: relative;
  height: 7vh;
  width: 100%;
  /* background-color: red; */
  background-image: url("../../../public/navbar.png");

  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  z-index: 1;
}
