.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.forgot-password-form {
  max-width: 80%;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #eae5e5;
  background-color: rgba(0, 0, 0, 0.596);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(174, 166, 166, 0.1);
  text-align: center;
}

.forgot-password-form form {
  display: flex;
  flex-direction: column;
}

.forgot-password-form h2 {
  margin-bottom: 20px;
  color: #3d98b4;
}

.forgot-password-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.forgot-password-form .showHideButton {
 
  position: absolute;
  right: 5%;
  top: 40%;
  width: 10%;
  height: 10%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;

}

.forgot-password-form .submitBtn {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3d98b4;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}
.forgot-password-form .submitBtn .loading {
  width: 1.8rem;
  margin-right: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
      radial-gradient(farthest-side, #ebe7e0 94%, #0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%, #dad5ce);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
      transform: rotate(1turn)
  }
}

.forgot-password-form .submitBtn:hover {
  background-color: #2d7894;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-bottom: 20px;
}

.otp-inputs input {
  width: 40px;
  text-align: center;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}